.nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.list {
	display: flex;
	width: 33%;
	justify-content: space-around;
}

.link {
	color: #000;
	margin: 0 10px;
	padding: 10px 0 5px;
}

.link:hover {
	border-bottom: 1px solid #000;
}

.active {
	border-bottom: 1px solid #000;
}
